---
interface Props {
	title: string;
}

import kebabCase from 'lodash.kebabcase';
import { SEO } from 'astro-seo';

const { title } = Astro.props;
const posts = import.meta.glob('../pages/**/*.md');
const categorySet = new Set();

for (const path in posts) {
  posts[path]().then((post) => {
    categorySet.add(post.frontmatter.category);
  })
}

const categories = Array.from(categorySet).sort();


---
<style lang="scss">
  @use "../styles/main.scss"
  </style>
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<SEO  title={title} />
	</head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NDNVJF8MF5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-NDNVJF8MF5');
  </script>
  <script src="https://giscus.app/client.js"
  data-repo="KevinAdu/kevin-adu-blog"
  data-repo-id="MDEwOlJlcG9zaXRvcnk0ODIzNzU1Ng=="
  data-category="General"
  data-category-id="DIC_kwDOAuAL9M4CZt-K"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="preferred_color_scheme"
  data-lang="en"
  crossorigin="anonymous"
  async>
</script>
	<body>
    <header>
      <a href="/" class="header-logo">
        <h1>Kevin Adu</h1>
      </a>
      <!-- Hamburger icon -->
      <input class="side-menu" type="checkbox" id="side-menu"/>
      <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
      <nav class="nav">
        <ul class="nav-links">
          {categories.map(category => (
            <li><a href={`/category/${kebabCase(category)}`}>
              {category}
            </a></li>
          ))}
          <li><a href="/about">
            About
          </a></li>
        </ul>
      </nav>
      <ul class="tagline">
        <li>Expat in Japan</li>
        <li>Web Developer</li>
      </ul>
    </header>
		<slot />
    <footer class="primary-footer">
      <small>&copy; Copyright Kevin Adu {new Date().getFullYear()}</small>
    </footer>
	</body>
</html>
